version: '3'  
 
services:
  nginx-proxy:
    image: jwilder/nginx-proxy:alpine
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy=true"
    container_name: nextcloud-proxy
    networks:
      - nextcloud_network
    ports:
      - 80:80
      - 443:443
    volumes:
      - /data/nextcloud/nginx/nginx.conf:/etc/nginx/nginx.conf:rw
      - /data/nextcloud/nginx/conf.d:/etc/nginx/conf.d:rw
      - /data/nextcloud/nginx/vhost.d:/etc/nginx/vhost.d:rw
      - /data/nextcloud/nginx/certs:/etc/nginx/certs:ro
      - /data/nextcloud/nginx/html:/usr/share/nginx/html:rw
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: unless-stopped

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion:latest
    container_name: nextcloud-letsencrypt
    depends_on:
      - nginx-proxy
    networks:
      - nextcloud_network
    volumes:
      - /data/nextcloud/nginx/vhost.d:/etc/nginx/vhost.d:rw
      - /data/nextcloud/nginx/html:/usr/share/nginx/html:rw
      - /data/nextcloud/nginx/certs:/etc/nginx/certs:rw
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  mysql:
    image: mariadb:10.4.12-bionic
    container_name: nextcloud-mysql
    networks:
      - nextcloud_network
    volumes:
      - /data/nextcloud/mysql:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
    environment:
      - MYSQL_ROOT_PASSWORD=Lmsdedp9Db
      - MYSQL_PASSWORD=Lmsdedp9Db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    restart: unless-stopped


  nextcloud-app:
    build: ./nextcloud_aria2_docker
#    image: nextcloud:18.0.3-apache
    container_name: nextcloud-app
    networks:
      - nextcloud_network
    depends_on: 
      - letsencrypt
      - nginx-proxy
      - mysql
    # - ariang
    volumes:
      - /data/nextcloud/app/html:/var/www/html
      - /data/nextcloud/app/config:/var/www/html/config
      - /data/nextcloud/app/custom_apps:/var/www/html/custom_apps    #      - /home/nextcloud:/var/www/html/data    - /data/nextcloud/app/data:/var/www/html/data
      - /mnt/raid5/nextcloud/data:/var/www/html/data
      #- /data/nextcloud/app/data:/var/www/html/data
      - /data/nextcloud/app/themes:/var/www/html/themes
      - /etc/localtime:/etc/localtime:ro
      - /mnt/films/medias_plex:/var/www/html/data/kyx/files/plex
      # - /data/nextcloud/aria2/config:/config
      # - /data/nextcloud/aria2/downloads:/downloads
    environment:
      - VIRTUAL_HOST=cloud.tsape.fr
      - LETSENCRYPT_HOST=cloud.tsape.fr
      - LETSENCRYPT_EMAIL=cyanogeek@laposte.net
    restart: unless-stopped


  collabora:
    image: collabora/code
    container_name: nextcloud_collabora
    cap_add:
      - MKNOD
    networks:
      - nextcloud_network  
    ports:
      - 9980:9980
    depends_on: 
      - letsencrypt
      - nginx-proxy
      - mysql
    # volumes:
    #   - /data/nextcloud/loolwsd:/etc/loolwsd
    environment:
      - VIRTUAL_HOST=office.tsape.fr
      - LETSENCRYPT_HOST=office.tsape.fr
      - VIRTUAL_PORT=9980
      - LETSENCRYPT_EMAIL=cyanogeek@laposte.net
      - domain=cloud.tsape.fr
      - username=nextcloud
      - password=Lmsdedp9Co
    restart: unless-stopped

    

  # mysql_1:
  #   image: mariadb:10.4.12-bionic
  #   container_name: nextcloud-mysql_1
  #   networks:
  #     - nextcloud_network
  #   volumes:
  #     - /data/nextcloud/mysql_1:/var/lib/mysql
  #     - /etc/localtime:/etc/localtime:ro
  #   environment:
  #     - MYSQL_ROOT_PASSWORD=Lmsdedp9Db
  #     - MYSQL_PASSWORD=Lmsdedp9Db
  #     - MYSQL_DATABASE=nextcloud
  #     - MYSQL_USER=nextcloud
  #   restart: unless-stopped


networks:
  nextcloud_network:



  # ariang:
  #   image: wahyd4/aria2-ui:latest
  #   container_name: nextcloud-ariang
  #   networks:
  #     - nextcloud_network
  #   depends_on: 
  #     - letsencrypt
  #     - nginx-proxy
  #   environment:
  #     - ENABLE_AUTH=true
  #     - ARIA2_USER=hello
  #     - ARIA2_PWD=world
  #     - DOMAIN=https://tsape.fr
  #   ports:
  #     - "6080:80"
  #     - "6443:433"
  #   volumes:
  #     - /data/nextcloud/ariang/data:/data
  #   restart: unless-stopped

#   aria2:
# #      user: '501:20'
#     container_name: nextcloud-aria2
#     image: opengg/aria2
#     # ports:
#     #   - 6801:6800
#     volumes:
#       - /data/nextcloud/aria2/config:/config
#       - /data/nextcloud/aria2/downloads:/downloads


